*.a binary -delta
*.aps binary -delta
*.asz binary -delta
*.avi binary -delta
*.bil binary -delta
*.bin binary -delta
*.blend binary -delta
*.bmp binary -delta
*.book binary -delta
*.chm binary -delta
*.chw binary -delta
*.conndb binary -delta
*.cur binary -delta
*.ddf binary -delta
*.dgn binary -delta
*.dll binary -delta
*.doc binary -delta
*.docx binary -delta
*.dwf binary -delta
*.dwg binary -delta
*.ecw binary -delta
*.exe binary -delta
*.fbx binary -delta
*.fdb binary -delta
*.fits binary -delta
*.fm binary -delta
*.frx binary -delta
*.fytdb binary -delta
*.gif binary -delta
*.hdf binary -delta
*.help binary -delta
*.hlp binary -delta
*.hnd binary -delta
*.icc binary -delta
*.ico binary -delta
*.img binary -delta
*.j2i binary -delta
*.jar binary -delta
*.jp2 binary -delta
*.jpeg binary -delta
*.jpg binary -delta
*.lib binary -delta
*.msg binary -delta
*.msi binary -delta
*.ntf binary -delta
*.obj binary -delta
*.odg binary -delta
*.ole binary -delta
*.pc3 binary -delta
*.pdb binary -delta
*.pdf binary -delta
*.pgm binary -delta
*.png binary -delta
*.ppm binary -delta
*.ppt binary -delta
*.res binary -delta
*.shx binary -delta
*.simodb binary -delta
*.slb binary -delta
*.sld binary -delta
*.so binary -delta
*.tif binary -delta
*.tlb binary -delta
*.tx binary -delta
*.txv binary -delta
*.urf binary -delta
*.vbi binary -delta
*.vsd binary -delta
*.wmf binary -delta
*.xcf binary -delta
*.xls binary -delta
*.xlsx binary -delta
